<!DOCTYPE html>
<html lang="en" class="ceiling">
  <head>
    <title>🦄 | PHENOMNOMNOMINAL | {{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/_styles/styles.css" />
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
  <script src="/_scripts/scripts.js" type="module"></script>
</html>