@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100..900&display=swap&text=Hi%2CI%27mCrag');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch:wght@400&display=swap&text=IMAKEWBST');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overscroll-primary: hsl(30deg 100% 50%);
  --overscroll-secondary: hsl(210deg 100% 50%);

  --header-primary-start: hsl(120deg 100% 50%);
  --header-primary-end: hsl(140deg 100% 50%);
  --header-secondary-start: hsl(220deg 100% 50%);
  --header-secondary-end: hsl(240deg 100% 50%);

  --main-primary-start: hsl(200deg 100% 50%);
  --main-primary-end: hsl(220deg 100% 50%);
  --main-secondary-start: hsl(300deg 100% 50%);
  --main-secondary-end: hsl(320deg 100% 50%);

  --selection-primary: rgba(255, 0, 0, 1);
  --selection-text: rgba(255, 255, 255, 1);
  --selection-shadow: rgba(0, 0, 0, 1);
}

html.ceiling {
  background-color: var(--overscroll-primary);
}

html {
  min-width: 320px;
  width: 100vw;

  background-color: var(--overscroll-secondary);

  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' style='font-size: 48px'><text y='40'>🦄</text></svg>"),
    auto;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  font-family: 'Tourney', sans-serif;
  font-size: 8px;
}

@media screen and (min-width: 360px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 660px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 790px) {
  body {
    font-size: 14px;
  }
}

h1 {
  text-align: center;
  font-size: 10em;
  text-shadow: var(--shadow-offset) var(--shadow-offset) 0px #ffff00;
  color: #ff00ff;

  font-variation-settings: 'wght' var(--font-weight);
}

header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
  height: 100vh;

  background-image: linear-gradient(
    var(--header-angle),
    var(--header-primary-start) 0%,
    var(--header-primary-end) 50%,
    var(--header-secondary-start) 50%,
    var(--header-secondary-end) 100%
  );

  filter: invert(var(--invert));
}

header ::selection {
  background: var(--selection-primary);
  color: var(--selection-text);
  text-shadow: var(--shadow-offset) var(--shadow-offset) 0
    var(--selection-shadow);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  height: 100vh;

  background-image: conic-gradient(
    var(--main-primary-start),
    var(--main-primary-end),
    var(--main-secondary-start),
    var(--main-secondary-end)
  );

  color: hsl(120deg 100% 50%);
  text-align: center;
  font-family: 'Rubik Glitch';
  font-size: 8em;
  text-transform: uppercase;

  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' style='font-size: 48px'><text y='40'>🖕</text></svg>"),
    auto;
}

main p {
  text-shadow: var(--shadow-offset) var(--shadow-offset) 0px black;
  transform: rotate(var(--main-angle));
}

main ::selection {
  background: black;
}
