@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100..900&display=swap&text=Hi%2CI%27mCrag');

:root {
  --overscroll-primary: rgba(255, 127, 0, 1);
  --overscroll-secondary: rgba(0, 127, 255, 1);

  --background-primary-start: rgba(0, 255, 0, 1);
  --background-primary-end: rgba(0, 255, 95, 1);
  --background-secondary-start: rgba(0, 95, 255, 1);
  --background-secondary-end: rgba(0, 0, 255, 1);

  --selection-primary: rgba(255, 0, 0, 1);
  --selection-text: rgba(255, 255, 255, 1);
  --selection-shadow: rgba(0, 0, 0, 1);
}

html.ceiling {
  background-color: var(--overscroll-primary);
}

html {
  width: 100vw;

  background-color: var(--overscroll-secondary);
  background-image: linear-gradient(
    var(--background-angle),
    var(--background-primary-start) 0%,
    var(--background-primary-end) 50%,
    var(--background-secondary-start) 50%,
    var(--background-secondary-end) 100%
  );

  filter: invert(var(--invert));

  min-width: 320px;

  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' style='font-size: 48px'><text y='40'>🦄</text></svg>"),
    auto;
}

::selection {
  background: var(--selection-primary);
  color: var(--selection-text);
  text-shadow: var(--shadow-offset) var(--shadow-offset) 0
    var(--selection-shadow);
}

body {
  min-height: 100vh;

  font-family: 'Tourney', sans-serif;
}

body {
  font-size: 8px;
}

@media screen and (min-width: 360px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 660px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 790px) {
  body {
    font-size: 14px;
  }
}

h1 {
  text-align: center;
  font-size: 10em;
  text-shadow: var(--shadow-offset) var(--shadow-offset) 0px #ffff00;
  color: #ff00ff;

  font-variation-settings: 'wght' var(--font-weight);
}

body {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

header {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 64px;
  height: 64px;
}
